{
    // Sample config for a lora TEST mode run
    // Copy actual config values, not comments
    
    // TEST or BUILD
    "MODE": "TEST",

    // Input exactly as seen in A1111, include file hash if present
    "CHECKPOINTS": [
        "arthemyComics_v60.safetensors [b9ca0fa8a9]"
    ],

    // Maps sampler name to desired step count
    "SAMPLERS": {
        "Euler a": 25
    },

    // A pure description of your character, ideally what was used to make the dataset
    // Only include immutable traits
    "CHAR_PROMPT": "solo, 1boy, mohawk, brown hair, blue eyes, muscular, broad shoulders, tall",
    
    // Optional, any negative tags that are needed to produce your character
    "CHAR_NEGATIVE": "skinny, lanky, thin, wrinkles",

    // List of string names of the various versions of a lora (test mode only)
    "LORA_NAMES": [
        "astrid_v0-000100",
        "astrid_v0-000200",
        "astrid_v0"
    ]
}